# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual Environment
.venv/
venv/
env/
ENV/

# Large Data Files (too big for GitHub's 100MB limit)
*.zip
*.csv

# Output / temp files
out.json
tempCodeRunnerFile.py

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
